/* PARA EL LOGIN */

.login-container {
  max-width: 400px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

.login-form label {
  display: block;
  margin-top: 1rem;
  font-weight: 600;
}

.login-form input {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn-primary {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.9rem;
  background-color: #8a3ab9;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
