/* Importar fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

/* Importar estilos personalizados */
@import url('./assets/css/styles.css');

:root {
  --primary-color: #9370DB;
  --primary-hover: #8A2BE2;
  --text-color: #2a2a2a;
  --light-bg: #f9f9fa;
  --border-color: #E5E8EB;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
